[package]
name = "tempo-order-book"
description = "Order book RPC module for browsing DEX"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
